header {
  display: flex;
  justify-content: space-between;
  border: 2px solid  red;
}

.showMenu {
  display: flex;
  flex-flow: column nowrap;
  font-size: 20px;
  background-color: rgb(81, 156, 156);
  animation: showSideMenu 0.5s;
  position: fixed;
  left: 0;
  top: 12%;
  width: 8em;
  height: 30vh;
  margin-top: -2.5em;
  padding: 10px;
}

@keyframes showSideMenu{
  from { 
    opacity: 0;
    width: 0;
  }
  to { 
    opacity: 1;
    width: 8em;
  }
}

.hideMenu {
    display: none;
}

.menu-item {
  text-decoration: none;
  padding: 10px;
}