header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: 2px 2px 10px 5px;
  padding: 5px;
  background-color: rgb(35, 36, 13);
}

.hamburguer-container {
  padding: 10px 7em 10px 5px;
  z-index: 1;
  background-color: rgb(35, 36, 13);
}

.showMenu {
  display: flex;
  flex-flow: column nowrap;
  font-size: 20px;
  background-color: rgb(35, 36, 13);
  animation: showSideMenu 0.5s;
  position: fixed;
  left: 0;
  top: 0;
  margin-top: 1em;
  padding-top: 10vh;
  width: 8em;
  height: 30vh;
}

@keyframes showSideMenu{
  from { 
    opacity: 0;
    width: 0;
  }
  to { 
    opacity: 1;
    width: 8em;
  }
}

.hideMenu {
    display: none;
}

.menu-item {
  text-decoration: none;
  padding: 20px;
  background-color: rgb(35, 36, 13);
  color: rgb(223, 223, 62);
}

.menu-item:hover {
  background-color: rgb(75, 78, 17);
}

.logo {
  align-self: center;
  font-size: 25px;
  margin: 0 auto;
  padding: 10px 7em 10px 5px;
  background-color: rgb(35, 36, 13);
  font-family: 'Star Wars', sans-serif;
}


@media screen and (max-width: 611px ) {
  .logo {
    align-self: center;
    font-size: 15px;
    margin: 0 auto;
    background-color: rgb(35, 36, 13);
    font-family: 'Star Wars', sans-serif;
  }

  .hamburguer-container {
    padding: 10px 50px 10px 5px;
    z-index: 1;
    background-color: rgb(35, 36, 13);
  }
}

