.mainPage {
  color: rgb(223, 223, 62);
}

footer{
  background-color: rgb(35, 36, 13);
  box-shadow: 2px 2px 10px 5px;
  text-align: center;
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
  left: 0;
}

footer p {
  display: flex;
  justify-content: center;
  padding: 35px;
}